.features {
  margin-top: -78px;
}

.features__container {
  max-width: $desktop;
  margin: 0 auto;
  padding-left: 10.2%;
  background:
    linear-gradient(to right, #30124e 100%, #ffffff 0%) no-repeat,
    linear-gradient(to top, #150433 19.6%, #ffffff 0%);
  background-size: 69.4% auto;
  box-sizing: border-box;
  padding-top: 120px;
  padding-right: 147px;
  padding-bottom: 131px;
}

.features__content-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 58px;
}

.features__content {
  width: 52%;
}

.features__title {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $pink;
  margin: 0;
  padding-top: 20px;
}

.features__subtitle {
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  color: $white;
  margin: 0;
  padding-top: 11px;
  width: 415px;
}

.features__description {
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  color: $white;
  margin: 0;
  width: 78%;
  padding-top: 17px;
}

.features__text {
  font-size: 18px;
  line-height: 29px;
  color: $white;
  width: 78%;
  margin: 0;
  padding-top: 83px;
}

.features__learn-more {
  @include learn-more-btn;
  margin-top: 53px;
}

/* SWIPER */

.swiper__container {
  display: flex;
  flex-direction: column;
}

.features__slider {
  width: 48.7%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.features__slider article {
  width: 98.7%;
  display: flex;
  align-items: center;
}

.features__slider-image {
  width: 100%;
}

.features__slider-image img {
  width: 100%;
  height: 100%;
  max-width: 460px;
}

.features__slider h2 {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #5e239d;
  writing-mode: vertical-rl;
  margin: 0;
  cursor: default;
  padding-right: 2.1%;
}

.swiper-controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 17%;
  padding-top: 34px;
}

.swiper-button {
  width: 72px;
  display: flex;
  justify-content: space-between;
  margin-left: 27px;
}

.swiper-button__btn {
  width: 27px;
  height: 27px;
  background: rgba(196, 196, 196, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;

  &--prev {
    background-image: url("../img/arrow-prev.svg");
  }

  &--next {
    background-image: url("../img/arrow-next.svg");
  }
}

.swiper-pagination {
  font-family: $mplus;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #f4f4ed;
  position: relative;
}

.swiper-pagination-custom {
  width: 68px;
  bottom: 0;
  left: 0;
}

/* ---------------------------------- */

@media (max-width: $tablet) {
  .features__container {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #30124e;
  }

  .features__content {
    width: 100%;
  }

  .features__subtitle {
    font-size: 36px;
    line-height: 41px;
  }

  .features__description {
    font-size: 15px;
    line-height: 25px;
    width: 100%;
  }

  .features__text {
    width: 100%;
    padding-top: 20px;
  }

  .features__content-container {
    flex-direction: column;
    padding-bottom: 0;
  }

  .features__slider {
    position: static;
    width: 700px;
    margin: 0 auto;
    margin-top: 70px;
  }

  .features__slider article {
    flex-direction: column;
  }

  .features__slider h2 {
    color: $white;
    writing-mode: initial;
    padding-right: 0;
    padding-top: 10px;
  }

  .features__slider-image {
    width: 460px;
  }

  .swiper-button {
    display: none;
  }

  .swiper-controls {
    margin-right: 0;
    justify-content: center;
    padding-top: 5px;
  }
}

@media (max-width: $mobile) {
  .features {
    margin-top: 40px;
  }

  .features__subtitle {
    width: 90%;
  }

  .features__slider {
    width: 287px;
  }

  .features__slider-image {
    width: 287px;
  }

  .features__slider-image img {
    width: 287px;
    height: 381px;
  }
}
