.footer {
  background-color: #150433;
  padding-bottom: 124px;
}

.footer__container {
  max-width: $desktop;
  margin: 0 auto;
  padding-left: 10.2%;
  padding-right: 10.2%;
  padding-top: 122px;
}

.footer__content {
  display: flex;
}

.footer__navigation {
  display: flex;
  width: 208px;
  justify-content: space-between;
}

.footer__wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 11.2%;
}

.footer__social {
  display: flex;
  flex-grow: 1;
  margin-left: 10%;
}

.footer__content h3 {
  font-weight: 800;
  font-size: 0.88vw;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $white;
  cursor: default;
  margin: 0;
  position: relative;
  padding-bottom: 6px;

  @media (min-width: $desktop) {
    font-size: 12.6px;
  }
}

.footer__menu-title {
  &::after {
    content: "";
    width: 54px;
    height: 1px;
    background-color: $pink;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.footer__services-title {
  &::after {
    content: "";
    width: 103px;
    height: 1px;
    background-color: $pink;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.footer__contact-us-title {
  &::after {
    content: "";
    width: 135px;
    height: 1px;
    background-color: $pink;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.footer__follow-us-title {
  &::after {
    content: "";
    width: 122px;
    height: 1px;
    background-color: $pink;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.footer__content a {
  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.4;
  }
}

.footer__logo {
  padding-top: 2px;
}

.footer__logo p {
  font-size: 16.2px;
  line-height: 26px;
  color: $white;
  margin: 0;
  width: 166px;
  padding-top: 11px;
}

.footer__menu-list a,
.footer__services a {
  font-weight: 700;
  font-size: 12.6px;
  line-height: 28px;
  letter-spacing: 1px;
  color: $white;
}

.footer__content ul {
  @include list-reset;
  padding-top: 22px;
}

.footer__follow-us-image {
  fill: $white;
}

.footer__follow-us-link {
  display: block;

  &:hover .footer__follow-us-image--twitter {
    fill: #1da1f2;
  }

  &:hover .footer__follow-us-image--facebook {
    fill: #3b5998;
  }

  &:hover .footer__follow-us-image--instagram {
    fill: #fbad50;
  }

  &:hover .footer__follow-us-image--youtube {
    fill: #ff0000;
  }

  &:hover .footer__follow-us-image--media {
    fill: #8b008b;
  }
}

.footer__contact-us ul {
  padding-top: 24px;
}

.footer__contact-us-link {
  font-size: 16.2px;
  line-height: 26px;
  color: $white;
  padding-left: 13px;

  &--phone {
    padding-left: 15px;
  }
}

.footer__contact-us {
  width: 222px;
}

.footer__contact-us-item {
  margin-bottom: 12px;
}

.footer__follow-us {
  margin-left: 13.7%;
  width: 48%;
}

.footer__follow-us ul {
  display: flex;
  padding-top: 44px;
}

.footer__follow-us-item {
  margin-right: 15.8%;
}

.footer__copyright {
  margin-top: 69px;
  padding-left: 294px;
}

.footer__copyright p {
  font-size: 11.7px;
  line-height: 19px;
  color: $white;
  margin: 0;
}

@media (max-width: $tablet) {
  .footer {
    padding-bottom: 50px;
  }

  .footer__container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__wrapper {
    padding-left: 0;
    flex-direction: column;
    margin-top: 70px;
  }

  .footer__navigation {
    width: 100%;
    padding-bottom: 80px;
  }

  .footer__services {
    padding-right: 28px;
  }

  .footer__social {
    margin-left: 0;
    justify-content: space-between;
  }

  .footer__follow-us {
    margin-left: 0;
    width: inherit;
    margin-top: 15px;
  }

  .footer__follow-us-item {
    margin-right: 15px;
  }

  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo p {
    width: 100%;
    text-align: center;
  }

  .footer__content h3 {
    font-size: 20px;
  }

  .footer__menu-list a,
  .footer__services a {
    font-size: 19px;
    line-height: 33px;
  }

  .footer__contact-us {
    width: inherit;
  }

  .footer__contact-us-link {
    font-size: 18px;
    line-height: 28px;
  }

  .footer__follow-us ul {
    padding-top: 27px;
  }

  .footer__copyright {
    padding-left: 0;
    text-align: center;
  }

  .footer__menu-title {
    &::after {
      width: 78px;
    }
  }

  .footer__services-title {
    &::after {
      width: 141px;
    }
  }

  .footer__contact-us-title {
    &::after {
      width: 185px;
    }
  }

  .footer__follow-us-title {
    &::after {
      width: 169px;
    }
  }
}

@media (max-width: $mobile) {
  .footer__content h3 {
    font-size: 12.6px;
  }

  .footer__menu-list a,
  .footer__services a {
    font-size: 14px;
    line-height: 28px;
  }

  .footer__contact-us-link {
    font-size: 15px;
    line-height: 25px;
  }

  .footer__follow-us-item {
    margin-right: 11px;
  }

  .footer__navigation {
    padding-bottom: 40px;
  }

  .footer__social {
    flex-direction: column;
    align-items: center;
  }

  .footer__services {
    padding-right: 0;
  }

  .footer__menu-title {
    &::after {
      width: 54px;
    }
  }

  .footer__services-title {
    &::after {
      width: 103px;
    }
  }

  .footer__contact-us-title {
    &::after {
      width: 135px;
    }
  }

  .footer__follow-us-title {
    &::after {
      width: 122px;
    }
  }
}
