.services {
  background-color: #150433;
}

.services__container {
  max-width: $desktop;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 277px;
}

.services__title {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $pink;
  margin: 0;
  padding-top: 22px;
}

.services__subtitle {
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
  color: $white;
  margin: 0;
  padding-top: 12px;
}

.services__description {
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  color: $white;
  margin: 0 auto;
  width: 558px;
  text-align: center;
  padding-top: 23px;
}

.services__list {
  @include list-reset;
  padding-left: 10.2%;
  padding-right: 13.2%;
  padding-top: 77px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__list-content {
  width: 318px;
}

.services__list-item {
  margin-bottom: 60px;
}

.services__list-content svg {
  fill: rgba(196, 196, 196, 0.02);
}

.services__list-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  padding-top: 11px;

  &--orange {
    color: $orange;
  }

  &--green {
    color: $green;
  }

  &--pink {
    color: $pink;
  }
}

.services__list-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16.2px;
  line-height: 26px;
  color: $white;
  margin: 0;
  padding-top: 27px;
}

.services__learn-more {
  @include learn-more-btn;
  margin: 0 auto;
  margin-top: 16px;
  position: relative;
  right: 24px;

  &:hover {
    background-color: $white;
    border-color: #000000;
  }
}

@media (max-width: $tablet) {
  .services__subtitle {
    font-size: 36px;
    line-height: 41px;
  }

  .services__description {
    font-size: 15px;
    line-height: 25px;
    width: 60%;
  }

  .services__list {
    padding-left: 4%;
    padding-right: 3%;
    justify-content: space-around;
  }
}

@media (max-width: $mobile) {
  .services__container {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 40px;
  }

  .services__list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .services__list-content p {
    text-align: center;
  }

  .services__description {
    width: 100%;
  }

  .services__learn-more {
    position: static;
  }
}
