@font-face {
  font-family: "M Plus 1p";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/mplus1p.woff2") format("woff2"), url("../fonts/mplus1p.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "M Plus 1p";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/mplus1p-medium.woff2") format("woff2"), url("../fonts/mplus1p-medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "M Plus 1p";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/mplus1p-bold.woff2") format("woff2"), url("../fonts/mplus1p-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "M Plus 1p";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/mplus1p-xbold.woff2") format("woff2"), url("../fonts/mplus1p-xbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "M Plus 1p";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/mplus1p-xxbold.woff2") format("woff2"), url("../fonts/mplus1p-xxbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noticia Text";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/noticia-text.woff2") format("woff2"), url("../fonts/noticia-text.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noticia Text";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/noticia-text-italic.woff2") format("woff2"), url("../fonts/noticia-text-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noticia Text";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/noticia-text-bold.woff2") format("woff2"), url("../fonts/noticia-text-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noticia Text";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/noticia-text-bold-italic.woff2") format("woff2"), url("../fonts/noticia-text-bold-italic.woff") format("woff");
  font-display: swap;
}
