$mplus: "M Plus 1p", "Arial", sans-serif;
$noticia: "Noticia Text", "Times New Roman", serif;
$desktop: 1440px;
$tablet: 1023px;
$mobile: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #fcfcfc;
$pink: #f61067;
$border: rgba(255, 255, 255, 0.25);
$dark-blue: #150435;
